
.preloader__col {
  position: fixed;
  width: 100%;
  height: 11%;
  background: #1565C0;
  transition: transform .5s linear;
  will-change: transform;
  z-index: 999;
  top: 0;
  left: 0;
}

.preloader__col-2 {
  top: 10%;
}
.preloader__col-3 {
  top: 20%;
}
.preloader__col-4 {
  top: 30%;
}
.preloader__col-5 {
  top: 40%;
}
.preloader__col-6 {
  top: 50%;
}
.preloader__col-7 {
  top: 60%;
}
.preloader__col-8 {
  top: 70%;
}
.preloader__col-9 {
  top: 80%;
}
.preloader__col-10 {
  top: 90%;
}

.preloader__list {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.preloader__item:not(:last-child) {
  margin-right: 20px;
}

.preloader__item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  padding: 0;
  margin: 0;
  opacity: 0;

  &-1 {
    animation: 2s circle ease-in-out infinite;
  }

  &-2 {
    animation: 2s circle .25s ease-in-out infinite;
  }

  &-3 {
    animation: 2s circle .5s ease-in-out infinite;
  }
}

@keyframes circle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 0;
  }
}
